<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Category</h1>
    <form action="/add/category" method="post">
        <div class="form-group">
          <label for="Category_Id">Category ID :</label>
          <input type="text" id="Category_Id" placeholder="Enter Category ID" name="Category_Id" required>
        </div>
        <div class="form-group">
          <label for="CategoryName">Category Name:</label>
          <input type="text" id="Category_Name" placeholder="Enter Category Name" name="Category_Name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>